<section>
  <div class="mx-auto w-[70rem] flex flex-col items-center justify-center">
    <p class="heroRedText mt-[124px]">Case studies</p>
    <p class="sericeHeadText">
      Our works describe why we are the best in the business
    </p>
    <div class="flex items-start gap-[70px] pb-[90px]">
      <div>
        <div>
          <img src="c1.png" alt="" />
          <p class="caseText">Graphic Design</p>
          <p class="caseTextBold">Aura Branding Design</p>
        </div>
        <div class="pt-[60px]">
          <img src="c2.png" alt="" />
          <p class="caseText">Web Development</p>
          <p class="caseTextBold">Gradient Website Development</p>
        </div>
      </div>
      <div>
        <div>
          <img src="c3.png" alt="" />
          <p class="caseText">Graphic Design</p>
          <p class="caseTextBold">AB.S Snack Packaging</p>
        </div>
        <div class="pt-[64px]">
          <img src="c4.png" alt="" />
          <p class="caseText">Content Writing</p>
          <p class="caseTextBold">Magazine Content Writing</p>
        </div>
      </div>
    </div>
    <button class="seeWorkbtn pb-[117px]">
      See all works
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="15"
        height="15"
        fill="none"
        viewBox="0 0 15 15"
      >
        <path
          stroke="#473BF0"
          strokeLinecap="square"
          strokeLinejoin="bevel"
          strokeWidth="2"
          d="M7.933 2L14 7.633l-6.067 5.634M1 7.401h12.133"
        ></path>
      </svg>
    </button>
  </div>
</section>
