<nav
  class="fixed top-0 left-0 right-0 z-30 opacity-1 translate-y-[-120px]"
  [class.scrolled]="isScrolled"
  id="navbar"
>
  <div
    class="navbar w-[70rem] mx-auto flex items-center justify-between py-[8px] para"
  >
    <div class="flex items-center justify-start lg:gap-[48px]">
      <p class="logo">Brainwave.io</p>
      <ul class="flex items-center justify-between lg:gap-[40px] navElements">
        <li>Demos</li>
        <li>Pages</li>
        <li>Support</li>
        <li>Contact</li>
      </ul>
    </div>
    <button class="startPorjectBtn">Get started a project</button>
  </div>
</nav>
