<main>
  <div class="main w-full lg:block hidden">
    <!-- page preloader effect  -->
    <div #loader class="loader">
      <svg>
        <path #path></path>
      </svg>
    </div>
    <!-- after preloader content  -->
    <div>
      <app-navbar></app-navbar>
      <app-herosection></app-herosection>
      <app-ourservice></app-ourservice>
      <app-ourstory></app-ourstory>
      <app-whyus></app-whyus>
      <app-casestudy></app-casestudy>
      <app-testimonial></app-testimonial>
      <app-footer></app-footer>
    </div>
  </div>
  <!-- sorry with the time i could manage i did not make this mobile and tab responsive -->
  <div
    class="block lg:hidden flex flex-col items-center justify-center h-screen"
  >
    <p class="mText">Please use a large'r display</p>
    <p class="mText mt-2">
      sorry with the time i could manage i did not make this mobile and tab
      responsive
    </p>
  </div>
</main>
