.main {
  height: 100vh;
}

.body {
  width: 100%;
}
.loader {
  z-index: 10000;
  height: calc(100vh + 200px);
  width: 100%;
  position: fixed;
}
.loader svg {
  height: 100%;
  width: 100%;
}

.loader svg path {
  stroke: black;
  stroke-width: 1px;
}

.mText:first-child {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  color: #3247ff;
}
.mText {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}
