<section class="herosection">
  <div class="w-[70rem] mx-auto flex items-center justify-center h-full">
    <div class="flex items-center justify-between w-[65rem] gap-[100px]">
      <!-- text div  -->
      <div
        class="flex flex-col items-start justify-start gap-[25px] opacity-0 translate-y-10"
        id="text"
      >
        <p class="heroRedText para">Let’s shift your business</p>
        <p class="heroHeaderText para">
          Shift your business fast with Shade Pro.
        </p>
        <p class="heroSubText para">
          With lots of unique blocks, you can easily build a page without
          coding. Build your next consultancy website within few minutes.
        </p>
        <button class="startPorjectBtn para">Get started a project</button>
      </div>
      <!-- image div  -->
      <div
        class="flex items-start justify-start opacity-0 translate-y-10"
        id="gsapImage"
      >
        <img src="heroimg.png " alt="hero-image" class="heroImage para" />
      </div>
    </div>
  </div>
</section>
