<section>
  <div
    class="mx-auto w-[70rem] flex flex-col items-start justify-start border-t-[1px] border-[#D8D8D8]"
  >
    <p class="heroRedText mt-[124px]">Our Story</p>
    <div class="scrollReveal">
      <p class="sericeHeadText2">
        <span>
          We know how everything works and why your business is failing over and
          over again.</span
        >
      </p>
      <div class="pb-[100px] flex items-start gap-[100px] w-full">
        <div>
          <img src="u1.png" class="w-[415px]" alt="" />
        </div>
        <div class="pb-[30px]">
          <div class="flex items-start gap-[92px]">
            <img src="u2.png" alt="" />
            <div>
              <div
                #yellowBox
                id="yellow-box "
                class="flex items-center justify-center"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="81"
                  height="79"
                  fill="none"
                  viewBox="0 0 21 19"
                >
                  <path
                    fill="#FCAD38"
                    d="M10.912.244l2.996 5.761 6.698.924c.174.025.317.14.371.298a.42.42 0 01-.116.446l-4.846 4.484 1.144 6.332a.424.424 0 01-.182.427.482.482 0 01-.485.033l-5.991-2.99-5.992 2.99a.482.482 0 01-.485-.032.424.424 0 01-.182-.426l1.144-6.334L.14 7.673a.42.42 0 01-.117-.446.455.455 0 01.372-.298l6.698-.924L10.09.244A.46.46 0 0110.5 0a.46.46 0 01.412.244z"
                  ></path>
                </svg>
              </div>
              <button class="playPaseBtn" (click)="togglePlayPause()">
                Play/Pause
              </button>
              <!-- <img  src="" alt="" /> -->
            </div>
          </div>

          <p class="ourText">
            We share common trends and strategies for improving your rental
            income and making sure you stay in high demand. With lots of unique
            blocks, you can easily build a page without coding. Build your next
            landing page.
          </p>
        </div>
      </div>
    </div>
    <div class="grid grid-cols-3 gap-[66px] pb-[144px]">
      <div>
        <button>
          <span class="span-mother">
            <span>1</span>
            <span>M</span>
            <span>&nbsp;</span>
            <span>U</span>
            <span>s</span>
            <span>e</span>
            <span>r</span>
            <span>'</span>
            <span>s</span>
          </span>
          <span class="span-mother2">
            <span>1</span>
            <span>M</span>
            <span>&nbsp;</span>
            <span>U</span>
            <span>s</span>
            <span>e</span>
            <span>r</span>
            <span>'</span>
            <span>s</span>
          </span>
        </button>
        <div class="text-center relative pt-[10px]">
          <span class="btn-shine">
            Customers visit Omega every month to get their service done.
          </span>
        </div>
      </div>
      <div>
        <button>
          <span class="span-mother">
            <span>9</span>
            <span>9</span>
            <span>.</span>
            <span>9</span>
            <span>9</span>
            <span>&nbsp;</span>
            <span>%</span>
          </span>
          <span class="span-mother2">
            <span>9</span>
            <span>9</span>
            <span>.</span>
            <span>9</span>
            <span>9</span>
            <span>&nbsp;</span>
            <span>%</span>
          </span>
        </button>
        <div class="text-center relative pt-[10px]">
          <span class="btn-shine">
            Satisfaction rate comes from our awesome customers.
          </span>
        </div>
      </div>
      <div>
        <button>
          <span class="span-mother">
            <span>4</span>
            <span>.</span>
            <span>9</span>
            <span>/</span>
            <span>5</span>
            <span>.</span>
            <span>0</span>
          </span>
          <span class="span-mother2">
            <span>4</span>
            <span>.</span>
            <span>9</span>
            <span>/</span>
            <span>5</span>
            <span>.</span>
            <span>0</span>
          </span>
        </button>
        <div class="text-center relative pt-[10px]">
          <span class="btn-shine">
            Average customer ratings we have got all over internet.
          </span>
        </div>
      </div>
    </div>
  </div>
</section>
